* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #94c6e4;
}

.wrapper {
    width: 400px;
    position: absolute;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}

.container {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: center;
    min-height: 100px;
    padding: 10px 40px;
    box-shadow: 0 20px 65px rgba(87, 11, 16, 0.5);
}

.container h1 {
    color: white;
    margin-bottom: 30px;
    background: #1073be;
    font-size: 25px;
    margin-top: -10px;
    margin: -40px;
    padding: 10px;
}



.container p {
    margin-top: 80px;
    color: #066dd4;
    font-size: 19px;
}

.container h3 {
    font-weight: 600;
    text-transform: capitalize;
    color: #0e045a;
    margin: 20px 0 60px 0;
}

.container button {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #ffffff;
    cursor: pointer;
    background-color: #023b80;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
}